:root{
--primary-soft:hsl(215, 52%, 70%);
--primary-medium:hsl(178, 100%, 50%);
--neutral-main: hsl(217, 54%, 11%);
--neutral-card:hsl(216, 50%, 16%);
--neutral-line: hsl(215, 32%, 27%);
--white:hsl(0, 0%, 100%);
}


